.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 32rpx;
  font-weight: bold;
  margin-bottom: 40rpx;
}

.subtitle {
  font-size: 26rpx;
  margin-bottom: 30rpx;
}

.desc {
  font-size: 30rpx;
  margin-bottom: 50rpx;
}

button {
  width: 300rpx;
}